html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "main   main"
}

.logo {
  margin: 0;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (2, 1fr);
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
